{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Говзан Алла - Ваш невролог</title>
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">

    <link type="image/x-icon" href="{% static 'main_app/img/favicon.ico' %}" rel="shortcut icon">
    <link type="Image/x-icon" href="{% static 'main_app/img/favicon.ico' %}" rel="icon">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<body>
  {% block content %}
  {% endblock content %}
</body>

<script src="{% static 'main_app/js/script.js' %}"></script>

</html>